click
Flask
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
fdb
SQLAlchemy
Werkzeug
zipp
requests
uuid
python-dotenv
stellar_sdk
pydantic
sqlalchemy-firebird
packaging
sqlalchemy-stubs
Flask-Assets
cssmin
