click==8.1.7
greenlet==3.0.2
importlib-metadata==7.0.0
itsdangerous
Jinja2
MarkupSafe
fdb
SQLAlchemy==2.0.23
Werkzeug==3.0.1
zipp==3.17.0
requests~=2.31.0
uuid~=1.30
python-dotenv
stellar_sdk==9.0.0
pydantic==2.5.2
sqlalchemy-firebird==2.0.2
packaging==23.2
sqlalchemy-stubs
cssmin
pyqrcode~=1.2.1
gspread_asyncio
nest_asyncio
quart==0.19.4
pydantic-settings==2.1.0
hypercorn==0.15.0
python-dateutil~=2.8.2
flask~=3.0.0
quart_cors
qrcode~=7.4.2
Pillow~=10.1.0