click
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
fdb
SQLAlchemy==2.0.21
Werkzeug
zipp
requests
uuid
python-dotenv
stellar_sdk
pydantic==2.4.2
sqlalchemy-firebird==2.0.1
packaging
sqlalchemy-stubs
cssmin
pyqrcode
gspread_asyncio
nest_asyncio
quart
pydantic-settings
hypercorn

