.tx-error {
    color:darkred;
    font-weight: bold;
}

.tx-good {
    color:forestgreen;
    font-weight: bold;
}

.tx-body {
    font-family: monospace;
    overflow-wrap: anywhere;
    user-select: all;
    -webkit-user-select: all;
}

.control-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block-notice {
    margin-top: 10px;
    color: darkred;
}

.response-error {
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkred;
}

.signer {
    width: 100%;
}

.signers {
    margin-bottom: 15px;
}

.signer-key {
    font-family: monospace;
}

.signer-signed {
    font-weight: bold;
    color:forestgreen;
}

.signer-header {
    font-size: 14pt;
    color:forestgreen;
}

.ignorants {
    margin-bottom: 30px;
}

.history-tittle {
    margin-top: 50px;
}

.history-header {
    font-weight: bold;
    font-size: 14pt;
    color:forestgreen;
}

.few-signs {
    color: darkred;
    font-weight: bold;
}

.moderate-signs {
    color: darkgoldenrod;
}

.many-signs {
    color: forestgreen;
}

.operation-block {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
}

.form-group {
    margin-bottom: 10px;
}

.input-group {
display: flex;
align-items: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-height: 200px;
    overflow-y: scroll;
    width: 800px;
    border: 2px solid #ccc; /* Увеличиваем толщину рамки */
    background-color: #fffbf0; /* Добавляем небольшой желтый оттенок */
    margin: 5px 0; /* Добавляем вертикальный отступ */
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Добавляем небольшую тень */
    z-index: 1000; /* уровень */
}

.account-item {
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #f0e5c9; /* Добавляем границу на дно каждого элемента */
}

.account-item:last-child {
    border-bottom: none; /* Убираем границу на дно последнего элемента */
}

.account-item:hover {
    background-color: #f7f7f7;
}

/* Родительский контейнер */
.operation-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Кнопки внутри контейнера */
.operation-button {
    margin-left: 10px; /* Расстояние между кнопками */
}
