@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Темный фон */
        color: #ccc; /* Светлый текст */
    }
    a {
        color: #9b70d0; /* Цвет ссылок для темной темы */
    }
    select,
    input,
    textarea {
        background-color: #333;
        color: #ccc;
    }
    .account-item{
        background-color: #333;
        color: #ccc;
    }
    .account-item:hover {
        background-color: #111;
    }

    :root {
        --color-darkGrey: #555;
        --color-primary: #195b3c;
        --color-lightGrey: #a5a7aa;
    }
}