[Unit]
Description=Gunicorn instance to serve eurmtl
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=attid
Group=attid
Type=simple
WorkingDirectory=/home/eurmtl
ExecStart=/home/eurmtl/deploy/eurmtl.start.sh
StandardError=append:/home/eurmtl/log/hypercorn_err.log
StandardOutput=append:/home/eurmtl/log/hypercorn_log.log
TimeoutSec=30
Restart=always
RestartSec=15


#Environment="PATH=/home/eurmtl/venv/bin"
#ExecStart=/home/eurmtl/venv/bin/hypercorn -w 4 --log-file /home/eurmtl/hypercorn.log eurmtl_app:app
#ExecStart=/home/eurmtl/venv/bin/hypercorn -w 4 --log-file /home/eurmtl/hypercorn.log eurmtl_app:app
#Restart=always

[Install]
WantedBy=multi-user.target
