{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <form class="column" method="post" action="/add_user">
        <div class="field">
            <label class="label" for="username">Username with @</label>
            <div class="control">
                <input class="input" id="username" name="username" type="text" value="{{ username }}" maxlength="20">
            </div>
        </div>
        <div class="field">
            <label class="label" for="public_key">Public key starting with G</label>
            <div class="control">
                <input class="input" id="public_key" name="public_key" type="text" maxlength="56">
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control is-expanded">
                <button class="button is-primary is-fullwidth" onclick="clearData()">
                    <span class="icon is-small">
                        <i class="material-icons right">send</i>
                    </span>
                    <span>Send</span>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block bottom_scripts %}
{% endblock %}
