{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block content %}

{% if qr_text %}

<div class="row">
    <div class="col s12 center-align">Открытие трастлайна к токену {{asset_code}}</div>
</div>
<div class="row">
    <div class="col s12 center-align">
        от эмитента
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <span id="text-to-copy">{{asset_issuer}}</span>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="flex-container">
            <a href="https://stellar.expert/explorer/public/asset/{{asset_code}}-{{asset_issuer}}" target="_blank"
               class="btn waves-effect waves-light flex-item">Посмотреть в stellar.expert</a>
            <a href="{{qr_text}}" target="_blank"
               class="btn waves-effect waves-light flex-item">Добавить в лобстер</a>
            <a href="https://t.me/MyMTLWalletBot?start=asset_{{asset_code}}-0" target="_blank"
               class="btn waves-effect waves-light flex-item">Добавить в MMWB</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="container valign-wrapper" style="height:100%;">
            <div class="row">
                <div class="col s12 center-align">
                    <img src="{{ qr_img }}" alt="{{asset_code}}-{{asset_issuer}}" class="responsive-img"/>
                </div>
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}