{% extends 'cup.main.html' %}

{% block switch_url %}orderbook{% endblock %}

{% block content %}
<div class="order-table">
    <div class="row">
        <div>Amount ({{assets[0].code}})</div>
        <div>Price ({{assets[1].code}})</div>
        <div>Total ({{assets[1].code}})</div>
    </div>
    {% for order in orders['sellers'] %}
    <div class="row sellers">
        <div class="amount">{{order['amount']}}</div>
        <div class="price">{{order['price']}}</div>
        <div class="total">{{order['total']}}</div>
    </div>
    {% endfor %}

    <div class="spread">
        <span>Spread: {{spread_amount}} ({{spread_percentage}}%)</span>
    </div>

    {% for order in orders['buyers'] %}
    <div class="row buyers">
        <div class="amount">{{order['amount']}}</div>
        <div class="price">{{order['price']}}</div>
        <div class="total">{{order['total']}}</div>
    </div>
    {% endfor %}
    <div class="row">
        <a href="https://stellar.expert/explorer/public/market/{{asset_url}}">stellar.expert</a>
    </div>
</div>
{% endblock %}

