{% extends 'cup.main.html' %}

{% block content %}

<table class="highlight">
    <thead>
    <tr>
        <th>Price ({{assets[1].code}})</th>
        <th>Amount ({{assets[0].code}})</th>
        <th>When</th>
    </tr>
    </thead>
    <tbody>
    {% for trade in trades %}
    <tr>
        {% if trade['up'] %}
        <td class="green-text">⬆ {{trade['price']}}</td>
        {% else %}
        <td class="red-text">⬇ {{trade['price']}}</td>
        {% endif %}
        <td>{{trade['amount']}}</td>
        <td>{{trade['minutes_ago']}}m</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
