<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderbook Page</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>


<body>
<div class="container" style="max-width: 900px;">
    <div class="card">
        <div class="card-content">
            <!-- Кнопки для навигации -->
            <div class="row">
                <a class="btn grey lighten-1 col s12"
                   href="/cup/{{ active_page }}/{{assets[1].code}}-{{assets[1].issuer}}/{{assets[0].code}}-{{assets[0].issuer}}"><span>{{assets[0].code}} ↔ {{assets[1].code}}</span></a>
            </div>
            <div class="row">
                <a class="btn col s4 {% if active_page == 'swap' %}teal darken-2{% endif %}"
                   href="/cup/swap/{{ asset_url }}">Swap Cup</a>
                <a class="btn col s4 {% if active_page == 'orderbook' %}teal darken-2{% endif %}"
                   href="/cup/orderbook/{{ asset_url }}">Orderbook</a>
                <a class="btn col s4 {% if active_page == 'trades' %}teal darken-2{% endif %}"
                   href="/cup/trades/{{ asset_url }}">Last Trades</a>
            </div>
            {% block content %} {% endblock %}
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>



