{% extends 'cup.main.html' %}

{% block content %}

<table class="table is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
        <th>Amount ({{assets[0].code}})</th>
        <th>Price ({{assets[1].code}})</th>
        <th>Total ({{assets[1].code}})</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders['sellers'] %}
    <tr>
        <td>{{order['amount']}}</td>
        <td class="has-text-danger">{{order['price']}}</td>
        <td>{{order['total']}}</td>
    </tr>
    {% endfor %}

    <!-- Spread -->
    <tr>
        <td colspan="3" class="has-text-centered">Spread: {{spread_amount}} ({{spread_percentage}}%)</td>
    </tr>
    <!-- Дополнительные строки после Spread -->
    {% for order in orders['buyers'] %}
    <tr>
        <td>{{order['amount']}}</td>
        <td class="has-text-success">{{order['price']}}</td>
        <td>{{order['total']}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="columns">
    <div class="column">
        <a href="https://stellar.expert/explorer/public/market/{{asset_url}}" class="button is-fullwidth">Stellar.Expert</a>
    </div>
    <div class="column">
        <a href="{{scopuly_url}}" class="button is-fullwidth">Scopuly.com</a>
    </div>
</div>


{% endblock %}
