{% if fragment_mode %}{% include 'd2_form_fragment.html' %}{% else %}{% extends 'tabler_base.html' %}{% block page_title %}D2: Новый вопрос{% endblock %}
{% block head_scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<link rel="stylesheet" href="/static/css/quill-emoji.css">
{% endblock %}
{% block content %}

{% set disable_fields = user_weight < 1 %}
{% include 'd2_form_fragment.html' %}
{% endblock %}

{% block bottom_scripts %}
{% include 'd2_quill_include.html' %}
<script>
    async function getNumber() {
        if (document.querySelector("#question_number").disabled) {
            return;
        }

        fetch(`/d2/number`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then(data => {
                document.querySelector("#question_number").value = data.number;
                var currentText = window.d2Quill.root.innerHTML;
                var shortSubject = document.querySelector("#short_subject").value;
                window.d2Quill.root.innerHTML = "<b>Вопрос " + data.number + ": "+ shortSubject +"</b><br> " + currentText;
            })
            .catch(error => {
                console.log("There was a problem with the fetch operation:", error.message);
            });
    }
    document.getElementById('loadsDecisionNum').addEventListener('click', getNumber);
</script>
{% endblock %}{% endif %}
