{% extends 'tabler_base.html' %}

{% block page_title %}D2{% endblock %}

{% block head_scripts %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<link rel="stylesheet" href="/static/css/quill-emoji.css">
{% endblock %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">D2: Конструктор вопросов</h2>
                <div class="text-secondary">Выберите действие.</div>
            </div>
            <div class="col-auto">
                {% include 'd2_header_buttons.html' %}
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Новый вопрос</h3>
                        <p class="text-secondary">Создать вопрос из шаблона или с нуля.</p>
                        <div class="btn-list">
                            <button class="btn btn-primary" hx-get="/d2/fragment/form" hx-target="#d2-panel" hx-swap="innerHTML">
                                Простой вопрос
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">Редактирование / перенос</h3>
                        <p class="text-secondary">Найти существующий вопрос и перейти к чтениям.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="d2-panel" class="mt-4"></div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
{% include 'd2_quill_include.html' %}
{% endblock %}
