{% extends 'base.html' %}

{% block head_scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<link rel="stylesheet" href="/static/css/quill-emoji.css">
{% endblock %}

{% block content %}

{% if links_url %}
<div class="links">
    {% if links_url[0] %}<a href="{{ links_url[0][0] }}">Первое чтение</a><br>{% else %}<br>{% endif %}
    {% if links_url[1] %}<a href="{{ links_url[1][0] }}">Второе чтение</a><br>{% else %}<br>{% endif %}
    {% if links_url[2] %}<a href="{{ links_url[2][0] }}">Третье чтение</a><br>{% else %}<br>{% endif %}
</div>
{% endif %}

<form action="" method="post">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="short_subject" name="short_subject" required value="{{ short_subject }}">
            <label for="short_subject">Тема (В реестр)</label>
        </div>

        <div class="input-field col s10">
            <input type="text" id="question_number" name="question_number" class="question_number" required
                   value="{{ question_number }}" {% if links_url %} disabled {% endif %}>
            <label for="question_number">Номер вопроса</label>
        </div>
        <div class="input-field col s1 offset-s1">
            <button type="button" id="loadsDecisionNum" class="btn-small waves-effect waves-light" {% if links_url %}
                    disabled {% endif %}>🔍
            </button>
        </div>

        <!-- Новый выпадающий список со статусами -->
        <div class="input-field col s12">
            <select id="status" name="status">
                <option value="" disabled>Выберите статус</option>
                {% for value, selected in statuses %}
                <option value="{{ value }}" {{ selected }} >{{ value }}</option>
                {% endfor %}
            </select>
            <label for="status">Статус вопроса</label>
        </div>

        <div class="card col s12">
            <div class="card-content">
                <input type="hidden" name="inquiry" id="inquiry">
                <div>
                    <span class="card-title">Вопрос (Идет в канал без темы как написано ниже)</span>
                </div>
                <div id="editor-container">
                    {{ inquiry|safe }}
                </div>
            </div>
        </div>

        <div class="col s12">
            <label>Чтение</label>
            <p>
                <label>
                    <input type="radio" name="reading" value="1" {{ 'checked' if reading == 1 else '' }} />
                    <span>Первое чтение</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="reading" value="2" {{ 'checked' if reading == 2 else '' }} />
                    <span>Второе чтение</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="reading" value="3" {{ 'checked' if reading == 3 else '' }} />
                    <span>Третье чтение</span>
                </label>
            </p>
        </div>

        <button type="submit" class="btn waves-effect waves-light col s10 offset-s1">
            Опубликовать<i class="material-icons right">send</i>
        </button>
    </div>
</form>
{% endblock %}

{% block bottom_scripts %}
<script src="/static/quill-emoji.js"></script>

<script>
    var form = document.querySelector('form');
    form.onsubmit = function() {
        var html = quill.root.innerHTML;
        document.getElementById('inquiry').value = html;
    };

    var toolbarOptions = {
        container: [
            ['bold', 'italic', 'underline', 'strike', 'code'],
            ['link'],
            ['clean'],
            ['emoji']
        ],
        handlers: {
            'emoji': function () {}
        }
    }

    var quill = new Quill('#editor-container', {
        modules: {
            "toolbar": toolbarOptions,
            "emoji-toolbar": true,
            "emoji-shortname": true
        },
        theme: 'snow',
    });

    async function getNumber() {
        if (document.querySelector("#question_number").disabled) {
            return; // Exit the function if disabled
        }

        fetch(`/decision/number`)
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.json();
        })
        .then(data => {
            document.querySelector("#question_number").value = data.number;
            var currentText = quill.root.innerHTML; // Fetch current content from Quill editor
            var shortSubject = document.querySelector("#short_subject").value;
            quill.root.innerHTML = "<b>Вопрос " + data.number + ": "+ shortSubject +"</b><br> " + currentText; // Update content in Quill editor
            M.updateTextFields(); // Обновляем текстовые поля
        })
        .catch(error => {
            console.log("There was a problem with the fetch operation:", error.message);
        });
    }
    document.getElementById('loadsDecisionNum').addEventListener('click', getNumber);


</script>
{% endblock %}
