<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EURMTL Bilingual Landing Page</title>
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">

    <style>
        .columns {
          display: flex;
          flex-wrap: wrap;
        }

        .column {
          display: flex;
          flex-direction: column;
        }

        .card {
          flex-grow: 1; /* Карточка займет доступное пространство */
        }
    </style>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(95900394, "init", {
             clickmap:true,
             trackLinks:true,
             accurateTrackBounce:true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/95900394" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body>

<!-- Main content block -->
<div class="container">
    <div class="columns is-multiline">

        <!-- English Card -->
        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Welcome</p>
                    <p>Welcome to EURMTL, your gateway to the Montelibero ecosystem.</p>
                </div>
            </div>
        </div>

        <!-- Russian Card -->
        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Добро пожаловать</p>
                    <p>Добро пожаловать в EURMTL, ваш вход в экосистему Montelibero.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="columns is-multiline">

        <!-- English Card -->
        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">About the Project</p>
                    <p>
                        Explore the Montelibero project, a community-driven initiative creating a sustainable economic
                        system. Learn about EURMTL, the local stablecoin facilitating transactions within the
                        Montelibero community.
                    </p>
                </div>
            </div>
        </div>

        <!-- Russian Card -->
        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">О проекте</p>
                    <p>
                        Исследуйте проект Montelibero, инициативу, созданную сообществом для создания устойчивой
                        экономической системы. Узнайте о EURMTL, местной стейблкоине, облегчающем транзакции в
                        сообществе Montelibero.
                    </p>
                </div>
            </div>
        </div>

    </div>


    <div class="columns is-multiline">

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Tokenomics</p>
                    <p>The EURMTL system, part of the Montelibero project, is built on a stablecoin named EURMTL,
                        fostering a local economic ecosystem. Here's an overview of the tokenomics:</p>

                    <ul>
                        <li><strong>Stablecoin Concept:</strong> EURMTL serves as a stablecoin, providing stability in
                            value for transactions within the Montelibero community.
                        </li>
                        <li><strong>Exchange of Goods and Services:</strong> The system enables seamless exchange of
                            goods, services, and other assets using EURMTL.
                        </li>
                        <li><strong>Community Empowerment:</strong> Montelibero's economic model empowers its community
                            members by facilitating transactions and fostering economic growth.
                        </li>
                        <li><strong>Association Information:</strong> Explore details about the associations involved in
                            the EURMTL system and their roles.
                        </li>
                    </ul>

                    <p>For a deeper understanding of the tokenomics and its impact, you can visit the <a
                            href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">Montelibero's
                        EURMTL System</a> page.</p>
                </div>
            </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Токеномика</p>
                    <p>Система EURMTL, часть проекта Montelibero, построена на стейблкоине с названием EURMTL,
                        способствуя развитию локальной экосистемы. Вот обзор токеномики:</p>

                    <ul>
                        <li><strong>Концепция Стейблкоина:</strong> EURMTL служит стейблкоином, обеспечивая стабильность
                            стоимости для транзакций внутри сообщества Montelibero.
                        </li>
                        <li><strong>Обмен Товарами и Услугами:</strong> Система обеспечивает безпроблемный обмен
                            товарами, услугами и другими активами с использованием EURMTL.
                        </li>
                        <li><strong>Поддержка Сообщества:</strong> Экономическая модель Montelibero укрепляет членов
                            сообщества, содействуя сделкам и способствуя экономическому росту.
                        </li>
                        <li><strong>Информация об Ассоциациях:</strong> Исследуйте детали ассоциаций, участвующих в
                            системе EURMTL, и их роли.
                        </li>
                    </ul>

                    <p>Для более глубокого понимания токеномики и ее влияния вы можете посетить страницу <a
                            href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL
                        System от Montelibero</a>.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="columns is-multiline">

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">How it Works</p>
                    <p>Instructions on using EURMTL and its functions within the Montelibero ecosystem:</p>

                    <ol>
                        <li><strong>Registration:</strong> Sign up on the Montelibero platform to begin using EURMTL.
                        </li>
                        <li><strong>Account Top-up:</strong> Fund your account by acquiring EURMTL to participate in the
                            ecosystem.
                        </li>
                        <li><strong>Exchange and Transactions:</strong> Exchange goods, services, and assets within the
                            community using EURMTL.
                        </li>
                        <li><strong>Balance Management:</strong> Keep track of your balance and manage finances through
                            the system's convenient tools.
                        </li>
                        <li><strong>Projects and Participation:</strong> Engage in projects supported by EURMTL and
                            contribute to the development of Montelibero.
                        </li>
                    </ol>

                    <p>These steps will guide you in maximizing the opportunities provided by EURMTL within the
                        Montelibero ecosystem. For additional details and a detailed guide, please visit the <a
                                href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL
                            System by Montelibero</a>.</p>
                </div>
            </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Как это работает</p>
                    <p>Инструкция по использованию EURMTL и его функций в экосистеме Montelibero:</p>

                    <ol>
                        <li><strong>Регистрация:</strong> Зарегистрируйтесь в системе Montelibero, чтобы начать
                            использовать EURMTL.
                        </li>
                        <li><strong>Пополнение счета:</strong> Пополните свой счет, приобретая EURMTL для участия в
                            экосистеме.
                        </li>
                        <li><strong>Обмен и Транзакции:</strong> Обменивайтесь товарами, услугами и активами внутри
                            сообщества, используя EURMTL.
                        </li>
                        <li><strong>Управление Балансом:</strong> Ведите учет своего баланса и управляйте финансами
                            через удобные инструменты системы.
                        </li>
                        <li><strong>Проекты и Участие:</strong> Участвуйте в проектах, поддерживаемых EURMTL, и вносите
                            свой вклад в развитие Montelibero.
                        </li>
                    </ol>

                    <p>Эти шаги помогут вам максимально использовать возможности, предоставляемые EURMTL в экосистеме
                        Montelibero. Дополнительные сведения и подробная инструкция доступны на странице <a
                                href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL
                            System от Montelibero</a>.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="columns is-multiline">

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Benefits</p>
                    <p>Discover the advantages of using EURMTL for users and the Montelibero community:</p>

                    <ul>
                        <li><strong>Financial Stability:</strong> EURMTL ensures financial stability, creating a secure
                            environment for transactions.
                        </li>
                        <li><strong>Low Fees:</strong> Take advantage of low fees when exchanging goods and services
                            within the Montelibero ecosystem.
                        </li>
                        <li><strong>Diverse Projects:</strong> Participate in various projects and initiatives supported
                            by EURMTL.
                        </li>
                        <li><strong>Contribution to Development:</strong> Your involvement with EURMTL contributes to
                            the development of the Montelibero community and its economic system.
                        </li>
                    </ul>

                    <p>Utilize EURMTL to gain maximum benefits for yourself and contribute to the development of a
                        strong and sustainable Montelibero community. Additional details are available on the <a
                                href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL
                            System by Montelibero</a> page.</p>
                </div>
            </div>
        </div>

        <div class="column is-12-mobile is-6-tablet">
            <div class="card">
                <div class="card-content">
                    <p class="title is-4">Преимущества</p>
                    <p>Узнайте, какие преимущества предоставляет использование EURMTL для пользователей и сообщества
                        Montelibero:</p>

                    <ul>
                        <li><strong>Финансовая Стабильность:</strong> EURMTL обеспечивает финансовую стабильность,
                            создавая устойчивую среду для совершения транзакций.
                        </li>
                        <li><strong>Низкие Комиссии:</strong> Пользуйтесь преимуществом низких комиссий при обмене
                            товарами и услугами в экосистеме Montelibero.
                        </li>
                        <li><strong>Разнообразие Проектов:</strong> Участвуйте в разнообразных проектах и инициативах,
                            поддерживаемых EURMTL.
                        </li>
                        <li><strong>Участие в Развитии:</strong> Ваше участие с помощью EURMTL способствует развитию
                            сообщества Montelibero и его экономической системы.
                        </li>
                    </ul>

                    <p>Используйте EURMTL, чтобы получить максимальные преимущества для себя и участвовать в развитии
                        сильного и устойчивого сообщества Montelibero. Дополнительные сведения доступны на странице <a
                                href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL
                            System от Montelibero</a>.</p>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- Footer block -->
<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5">Montelibero</p>
        <p>Explore more about the EURMTL System and Montelibero:</p>
        <ul>
            <li><a href="https://montelibero.org/eurmtl/" target="_blank" rel="noopener noreferrer">EURMTL System</a>
            </li>
            <li><a href="https://montelibero.org/" target="_blank" rel="noopener noreferrer">Montelibero Main Page</a>
            </li>
        </ul>
    </div>
</footer>


</body>
</html>