{% extends 'base.html' %}

{% block content %}
<section id="main">
    <div class="new-operation"></div>

    <div class="card">
        <div class="card-content">
            <span class="card-title col s8">Добавить операцию</span>
            <!-- Operation selection and add operation button -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="operation" name="operation" onchange="addOperation()">
                        <option value="" disabled selected>Choose operation type</option>
                        <option value="payment">Payment</option>
                        <option value="trust_payment">Payment with Trust</option>
                        <option value="change_trust">Change Trust</option>
                        <option value="buy">Buy</option>
                        <option value="sell">Sell</option>
                        <option value="sell_passive">Sell passive</option>
                        <option value="create_account">Create account</option>
                        <option value="manage_data">Manage Data</option>
                        <option value="options">Set Option</option>
                        <option value="options_signer">Set Option (Signer)</option>
                        <option value="clawback">Clawback</option>
                        <option value="copy_multi_sign">Copy Multi Sign</option>
                        <option value="swap">Swap</option>
                        <option value="set_trust_line_flags">Set TrustLine Flags</option>
                        <option value="payDivs">Pay Divs</option>
                    </select>
                    <label>Operation</label>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <!-- Кнопка Get XDR внутри flex-container -->
            <div class="row">
                <div class="col s12 flex-container">
                    <button type="button" id="get_xdr" class="btn waves-effect waves-light flex-item"
                            onclick="handleXDR()">Get XDR<i class="material-icons right">calculate</i>
                    </button>
                </div>
            </div>

            <!-- Новая карточка под кнопкой -->
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <pre class="tx-body"></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="xdr-input" class="materialize-textarea">{{import_xdr}}</textarea>
                    <label for="xdr-input">XDR Input</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12 flex-container">
                    <button type="button" class="btn waves-effect waves-light flex-item" onclick="importTransaction()">
                        Импортировать транзакцию
                    </button>
                    <button type="button" class="btn waves-effect waves-light flex-item" onclick="importOperations()">
                        Импортировать операции
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block bottom_scripts %}
<script src="/static/js/main.js?3"></script>
{% endblock %}

