{% extends 'base.html' %}

{% block nav %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="flex-container">


            <a href="https://laboratory.stellar.org/#txsigner?network=public" target="_blank"
               class="btn waves-effect waves-light flex-item">Open Laboratory</a>
            <button class="btn waves-effect waves-light flex-item" onclick="copy_tx()">Copy Transaction<i
                    class="material-icons right">content_copy</i></button>
            <button class="btn waves-effect waves-light flex-item" onclick="getDecode()">Decode<i
                    class="material-icons right">code</i></button>
            {% if uri_xdr %}
            <a href="{{ uri_xdr }}" target="_blank"
               class="btn waves-effect waves-light flex-item">Open in Lobster*</a>
            {% endif %}

        </div>
    </div>
</div>


<div id="responseCard" class="section" style="display: none;">
    <div class="card-panel" id="responseDiv">
        
    </div>
</div>


<div class="row">
    <div class="col s12" id="defXdrDiv">
        <div class="card-panel">
            <pre class="tx-body">{{xdr}}</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="input-field col s12" id="signP" style="display: block;">
        <input type="password" id="private_key" name="private_key" class="validate" placeholder="private_key with S"
               value="" oninput="sign_tx()" onpaste="sign_tx()" autocomplete="off">
        <label for="private_key" class="active">Private Key</label>
    </div>


</div>

<div class="row">
    <div class="col s12">
        <div class="flex-container">
            <button type="button" class="btn waves-effect waves-light flex-item" onclick="sign_tx()">Sign<i
                    class="material-icons right">edit</i></button>
        </div>
    </div>
</div>

<div id="signedDiv" style="display: none;">

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <pre class="tx-body"></pre>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="flex-container">
                <button type="button" class="btn waves-effect waves-light flex-item" onclick="submit_tx()">Submit<i
                        class="material-icons right">send</i></button>
            </div>
        </div>
    </div>
</div>


{% if qr_text %}
<img src="{{ qr_img }}"> <br>
<a href="{{qr_text}}">Link to open QR</a>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/10.4.1/stellar-sdk.min.js"></script>
<script>
    async function copy_tx() {
        if (!navigator.clipboard) {
            M.toast({html: 'Clipboard API не доступен'});
            return;
        }
        await navigator.clipboard.writeText(document.querySelector("#defXdrDiv .tx-body").innerText);
    }

    async function getDecode() {
        var responseDiv = document.getElementById("responseDiv");
        let xdr = document.querySelector("#defXdrDiv .tx-body").innerText;

        try {
            let response = await fetch('/remote/decode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ xdr: xdr })
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            } else {
                let data = await response.json();
                if(data.error) {
                    console.error('Server returned an error:', data.error);
                    responseDiv.innerHTML = data.error;
                } else {
                    responseDiv.innerHTML = data.text; // предполагается, что сервер возвращает JSON с полем text
                }
                const responseCard = $("#responseCard");
                responseCard.hide();
                responseCard.fadeIn();
            }
        } catch (error) {
            console.error('There was a problem fetching the response:', error);
        }
    }

    async function sign_tx() {
        let xdr = document.querySelector("#defXdrDiv .tx-body").innerText;
        let privateKey = document.getElementById("private_key").value;

        if (!privateKey || privateKey.length < 56) {
            console.error('Private key is empty or less than 56 characters');
            return;
        }

        const server = new StellarSdk.Server('https://horizon.stellar.org');

        try {
            let sourceKeys = StellarSdk.Keypair.fromSecret(privateKey);
            let transaction = new StellarSdk.Transaction(xdr, StellarSdk.Networks.PUBLIC);

            transaction.sign(sourceKeys);

            let signedXDR = transaction.toEnvelope().toXDR().toString('base64');

            let signedDiv = document.getElementById("signedDiv");
            signedDiv.style.display = 'block';

            document.querySelector("#signedDiv .tx-body").innerText = signedXDR;
        } catch (error) {
            console.error('Error signing transaction:', error);
        }
    }

    async function submit_tx() {
        let signedXDR = document.querySelector("#signedDiv .tx-body").innerText;

        const server = new StellarSdk.Server('https://horizon.stellar.org');

        try {
            let transaction = new StellarSdk.Transaction(signedXDR, StellarSdk.Networks.PUBLIC);
            let transactionResult = await server.submitTransaction(transaction);

            alert('Транзакция успешно отправлена!');
            console.log('Transaction submitted:', transactionResult);
        } catch (error) {
            let errorCode = (error.response && error.response.data && error.response.data.extras && error.response.data.extras.result_codes && error.response.data.extras.result_codes.operations) || 'Неизвестная ошибка';
            alert('Произошла ошибка при отправке транзакции. Код ошибки: ' + errorCode);
            console.error('Error submitting transaction:', error);
        }
    }

</script>

{% endblock %}